body {
    margin: 0;

    padding: 0;

    background: linear-gradient(180deg, #000000, #1F1F1F) no-repeat;
  
    color: #DBB536;
}

.wrapper {
    padding: 15px;

    max-width: 1260px;

    width: 100%;
}

a {
    color: #DBB536;

    text-decoration: none;
  }

.IndexHeader {
    padding: 30px;

    flex: 1;
    
    display: flex;

    justify-content: left;

    align-items: center;
    
    text-align: center;
}

.IndexCenterPage {
    padding: 40px;

    flex-direction: column;
    
    display: flex;

    justify-content: center;

    align-items: center;
    
    text-align: center;
}

.CenterBottomText {
    font-family: monospace;

    color:#E8E8E8;

    letter-spacing: 3px;
  }

.IndexBottomNav {
    padding-top: 50px;

    flex: 1;

    justify-content: space-between;
    
    display: flex;
    
    text-align: bottom;
}


